<br>
<div>
<h5>Cadastrar Produto</h5>
<p>Para realizar uma troca no Sistema é necessario cadastrar um produto.</p>
<div>

    <form>
        <div class="form-group">
          <label for="inputAddress">Nome do Produto</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="O que você está querendo trocar?">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Descrição do Produto</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Descreva o seu produto com características reais sobre estado, defeitos e outros. Caso contenha outros acessórios descreva eles também, isso podera ser o diferencial para alguem se interessar pelo o seu produto ;) (Opcional).">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">Endereço</label>
            <input type="text" class="form-control" placeholder="Taguatinga 234 Casa 4" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Estado</label>
            <select id="inputState" class="form-control">
              <option selected>Escolha...</option>
            
                  <option value="Centro-Oeste">Centro-Oeste</option>
                  <option value="Nordeste">Nordeste</option>
                  <option value="Norte">Norte</option>
                  <option value="Sul">Sul</option>
                  <option value="Sudeste">Sudeste</option>
             
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Seu Apelido</label>
            <input type="text" class="form-control" id="inputZip" placeholder="Ex: Jeje">
          </div>
        </div>
      </form>
      <form>
          <div class="form-group">
            <label for="exampleFormControlFile1">Carregar Imagem do produto</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
          </div>
        </form>

<br/>
<button type="button" class="btn btn-secondary btn-lg btn-block"  [routerLink]="['/likes']" routerLinkActive="active">Salvar</button>

<hr/>


<h6> Tradez - Francisco Hugo - Jônatas do Vale - Athos Johann </h6>

