<br>
<h1 >Área de troca</h1>
<p> * Caso goste do Produto clique em Gostei, caso contrário clique em Não Gostei.</p>
<hr>
<h6> @jeremias</h6>
<h4> Nome Produto: Bola</h4>
<br/>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://assets.nike.com.br/ArquivoExibir/1233946.jpg" alt="Imagem não encontrada">
    <div class="card-body">
      <p class="card-text">Descrição: Bola do Kiko.</p>
    </div>
  </div>
<br>
<button type="button" class="btn btn-secondary btn-lg btn-block"  [routerLink]="['/likes3']" routerLinkActive="active">Gostei</button>
<button type="button" class="btn btn-secondary btn-lg btn-block"  [routerLink]="['/likes3']" routerLinkActive="active">Não Gostei</button>
<hr/>
<h6> Tradez - Francisco Hugo - Jônatas do Vale - Athos Johann </h6>

