<br>
<h1 >Área de troca</h1>
<p> * Caso goste do Produto clique em Gostei, caso contrário clique em Não Gostei.</p>
<hr>
<h6> @fransgatinho</h6>
<h4> Nome Produto: Super Nintendo</h4>
<br/>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="http://1.bp.blogspot.com/-S0V92N2eoWQ/VU64RThFwLI/AAAAAAAAAiM/ABKO34v2GeM/s1600/Super%2BNintendo%2Bemulador%2BCAPA.png" alt="Imagem não encontrada">
    <div class="card-body">
      <p class="card-text">Descrição: Jogado das antigas excelente.</p>
    </div>
  </div>
<br>
<button type="button" class="btn btn-secondary btn-lg btn-block"  [routerLink]="['/likes6']" routerLinkActive="active">Gostei</button>
<button type="button" class="btn btn-secondary btn-lg btn-block"  [routerLink]="['/likes6']" routerLinkActive="active">Não Gostei</button>
<hr/>
<h6> Tradez - Francisco Hugo - Jônatas do Vale - Athos Johann </h6>

