<br>
<p>* Caso sinta necessidade, pressione o botão Editar para alterar as informações do produto cadastrado</p>
<hr/>
<h5>Visualizar Produto cadastrado para troca:</h5>

<form>
    <div class="form-group">
      <label for="inputAddress">Nome do Produto</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="O que você está querendo trocar?" disabled>
    </div>
    <div class="form-group">
      <label for="inputAddress2">Descrição do Produto</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Descreva o seu produto com características reais sobre estado, defeitos e outros. Caso contenha outros acessórios descreva eles também, isso podera ser o diferencial para alguem se interessar pelo o seu produto ;) (Opcional)." disabled>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Endereço</label>
        <input type="text" class="form-control" id="inputCity" placeholder="Taguatinga 234 Casa 4" disabled>
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Estado</label>
        <select id="inputState" class="form-control" disabled>
          <option selected>Escolha...</option>
        
              <option value="Centro-Oeste">Centro-Oeste</option>
              <option value="Nordeste">Nordeste</option>
              <option value="Norte">Norte</option>
              <option value="Sul">Sul</option>
              <option value="Sudeste">Sudeste</option>
         
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Seu Apelido</label>
        <input type="text" class="form-control" id="inputZip" placeholder="Ex: Jeje" disabled>
      </div>
    </div>
  </form>
  <form>
      <div class="form-group">
        <label for="exampleFormControlFile1">Carregar Imagem do produto</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1" disabled>
      </div>
    </form>

<!--
<form>

  <p>Nome do Produto:</p>
  <input style="width: 450px"type="text" name="nome" placeholder="Fone de ouvido"id="name_produto"disabled>
  <p>Descrição do Produto:</p>
  <input style="width: 550px"  type="text"id="descricao_produto"name="descricao" placeholder="Ótimo fone para pessoas normais!"disabled>
  <p>Telefone</p>	
  <input pattern="^\d{4}-\d{4}-\d{4}$" type="tel"id="numero_telefone"name="numero" disabled>
</form>


<p>Região do Produto</p>
<select disabled class="Estado" name="estado"id="regiao_produto">
  <option value="Centro-Oeste">Centro-Oeste</option>
  <option value="Nordeste">Nordeste</option>
  <option value="Norte">Norte</option>
  <option value="Sul">Sul</option>
  <option value="Sudeste">Sudeste</option>
</select>
<br/>
<br/>
<br/>
<button disabled class="Enviar" type="button">Enviar foto do produto</button>
<br/>
-->


<h6>Imagem: </h6>
<img src="https://s2.glbimg.com/kVWErTnOwfao3Iq9PmqWKo7d8I4=/0x600/s.glbimg.com/po/tt2/f/original/2015/10/30/playstation-4-funcionalidades-melhores-xbox-one.jpg" class="img-fluid" alt="Responsive image">

<button type="button" class="btn btn-secondary btn-lg btn-block" [routerLink]="['/home']" routerLinkActive="active">Voltar Menu</button>
<button type="button" class="btn btn-secondary btn-lg btn-block" [routerLink]="['/cadastro']" routerLinkActive="active">Editar Produto</button>


<hr>
<h6> Tradez - Francisco Hugo - Jônatas do Vale - Athos Johann </h6>
