<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active">TradeZ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/likes']" routerLinkActive="active">Likes <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/historico']" routerLinkActive="active">Histórico de Likes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/cadastro']" routerLinkActive="active">Cadastrar Produto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/produto']" routerLinkActive="active">Detalhes Produto</a>
      </li>
    </ul>
    <span class="navbar-text">
      TradeZ - Seu Sistama De Trocas.
    </span>
  </div>
</nav>



<!-- <nav>
    <div class="nav-wrapper">
     <a href="#" class="brand-logo">TradeZ</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/produto">Detalhes Produto</a></li>
        <li><a routerLink="/cadastro">Cadastrar Produto</a></li>
        <li><a routerLink="/likes">Likes</a></li>
        <li><a routerLink="/historico">Histórico de Likes</a></li>
      </ul>
    </div>
  </nav> -->

<div class="container">
﻿<router-outlet></router-outlet>
</div>


