<br>
<h1 >Área de troca</h1>
<p> * Caso goste do Produto clique em Gostei, caso contrário clique em Não Gostei.</p>
<hr>
<h6> @jonatasChatoDemais</h6>
<h4> Nome Produto: Raquete</h4>
<br/>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://www.prospin.com.br/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/1/0/101253-raquete-de-t_nis-babolat-pure-aero.jpg" alt="Imagem não encontrada">
    <div class="card-body">
      <p class="card-text">Descrição: Raquete do guga.</p>
    </div>
  </div>
<br>
<button type="button" class="btn btn-secondary btn-lg btn-block"  [routerLink]="['/likes4']" routerLinkActive="active">Gostei</button>
<button type="button" class="btn btn-secondary btn-lg btn-block"  [routerLink]="['/likes4']" routerLinkActive="active">Não Gostei</button>
<hr/>
<h6> Tradez - Francisco Hugo - Jônatas do Vale - Athos Johann </h6>

