  <br>

  <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
        </style>

  <br>
  <table>
    <tr>
    <th>Produto</th>
    <th>Data</th>
    <th>Apelido</th>
	<th>Numero</th>	
    </tr>
    <tr>
    <td>GTA 6</td>
    <td>12/10/2018</td>
    <td>Chico</td>
	<td>(61)4002-8922</td>
    </tr>
    <tr>
    <td>PS4</td>
    <td>21/10/2018</td>
    <td>JonGames</td>
	<td>(62)7777-7777</td>
    </tr>
    <tr>
    <td>Presidencia</td>
    <td>01/01/2019</td>
    <td>Bolsominion</td>
	<td>(66)6266-3666</td>
    </tr>
    <tr>
        <td>Red dead redemption 2</td>
        <td>07/02/1907</td>
        <td>Lindoval</td>
        <td>(71)8374-3882</td>
    </tr>
    <tr>
        <td>Caneta preta</td>
        <td>01/04/2107</td>
        <td>Jailson</td>
        <td>(11)1344-3882</td>
    </tr>
    <tr>
        <td>PS2</td>
        <td>28/03/2018</td>
        <td>Gatinho 2000</td>
        <td>(61)3474-4482</td>
    </tr>
  </table>

  <br>
  <button type="button" class="btn btn-secondary btn-lg btn-block"  [routerLink]="['/home']" routerLinkActive="active">Voltar Menu</button>

  <hr>
  <h6> Tradez - Francisco Hugo - Jônatas do Vale - Athos Johann </h6>