<br>
<h1 >Área de troca</h1>
<p> * Caso goste do Produto clique em Gostei, caso contrário clique em Não Gostei.</p>
<hr>
<h6> @lindoval2000</h6>
<h4> Nome Produto: Avacyn Card</h4>
<br/>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://magic.objects.liquidweb.services/pt5bsoi.jpg" alt="Imagem não encontrada">
    <div class="card-body">
      <p class="card-text">Descrição: Acompanha uma caixa organizadora para 400 cartas.</p>
    </div>
  </div>
<br>
<button type="button" class="btn btn-secondary btn-lg btn-block"  [routerLink]="['/likes2']" routerLinkActive="active">Gostei</button>
<button type="button" class="btn btn-secondary btn-lg btn-block"  [routerLink]="['/likes2']" routerLinkActive="active">Não Gostei</button>
<hr/>
<h6> Tradez - Francisco Hugo - Jônatas do Vale - Athos Johann </h6>

