<br>
<h1 >Área de troca</h1>
<p> * Caso goste do Produto clique em Gostei, caso contrário clique em Não Gostei.</p>
<hr>
<h6> @athos24</h6>
<h4> Nome Produto: Carregador Celular</h4>
<br/>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://http2.mlstatic.com/carregador-turbo-moto-x-play-original-cabo-original-D_NQ_NP_643505-MLB25038191755_092016-F.jpg" alt="Imagem não encontrada">
    <div class="card-body">
      <p class="card-text">Descrição: Carrega o celular.</p>
    </div>
  </div>
<br>
<button type="button" class="btn btn-secondary btn-lg btn-block"  [routerLink]="['/likes5']" routerLinkActive="active">Gostei</button>
<button type="button" class="btn btn-secondary btn-lg btn-block"  [routerLink]="['/likes5']" routerLinkActive="active">Não Gostei</button>
<hr/>
<h6> Tradez - Francisco Hugo - Jônatas do Vale - Athos Johann </h6>

