<br>
<h1 >Área de troca</h1>
<p> * Caso goste do Produto clique em Gostei, caso contrário clique em Não Gostei.</p>
<hr>
<h6> @adoramosSS</h6>
<h4> Nome Produto: PS1</h4>
<br/>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://abrilexame.files.wordpress.com/2018/09/plaaay.jpg" alt="Imagem não encontrada">
    <div class="card-body">
      <p class="card-text">Descrição: Video-game retro, ótimo custo beneficio.</p>
    </div>
  </div>
<br>
<button type="button" class="btn btn-secondary btn-lg btn-block"  [routerLink]="['/likes']" routerLinkActive="active">Gostei</button>
<button type="button" class="btn btn-secondary btn-lg btn-block"  [routerLink]="['/likes']" routerLinkActive="active">Não Gostei</button>
<hr/>
<h6> Tradez - Francisco Hugo - Jônatas do Vale - Athos Johann </h6>

