<br>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="https://abrilexame.files.wordpress.com/2018/03/huawei-p20-pro.png" alt="Imagem não carregada">
    <div class="card-body">
      <h5 class="card-title">O que é a TradeZ?</h5>
      <p class="card-text">TradeZ é um aplicativo de trocas onde o usuário pode conhecer novas pessoas e trocar produtos de interesse mútuo. Para isso, o programa cruza as informações de perfil com dados de geolocalização e, com isso, sugere possíveis produtos mais próximos.
      </p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://images.tcdn.com.br/img/img_prod/605938/jogo_de_cama_solteiro_100_algodao_180_fios_3_pecas_com_elastico_floral_156_1_20180724144149.png" alt="Imagem não carregada">
    <div class="card-body">
      <h5 class="card-title">Como Funciona?</h5>
      <p class="card-text">O tradez funciona como um intermediador para você conseguir a troca do seu produto. Para realizar isso, o sistema necessita que cadastre um produto para realizar a troca. Assim que realizar o cadastro do seu produto, atente-se a detalhar o produto da melhor maneira possível, será apresentado uma tela com produtos de outros usuários com as opções de “Gostei” ou “Não gostei”, assim que avaliar um produto o sistema irá apresentar outro produto. A intermediação acontece quando você e outro usuário demonstra interesse mútuo através dos likes nos produtos, então o sistema exibir as informações de contato para os dois, para que possam definir os termos e marca locais de troca.</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://img.elo7.com.br/product/zoom/7F2FB7/belo-e-grande-abstrato-100-x-180-cm-pinturas-em-oleo-sobre-tela.jpg" alt="Imagem não carregada">
    <div class="card-body">
      <h5 class="card-title">É confiável?</h5>
      <p class="card-text">Por o Tradez só apresentar duas pessoas interessadas em troca de produtos, não podemos garantir que a pessoa com que você vai realizar está sendo honesta com o produto apresentado por fotos ou no momento do encontro. Trabalhamos em maneiras para evitar que  pessoas má intencionadas utilize a plataforma, como por exemplo a necessidade de CPF para criação da conta. Mas fique alerta quando for “Gostar” de um produto, evite produtos com fotos da internet. Se você for se encontrar com o trocador, faça isso em um local público. Não convide trocadores à sua casa. Antes de encontrar o trocador, pegue seu celular e informe a uma pessoa de confiança o local exato do encontro ou peça a ela para ir com você. Caso passe por qualquer situação em desencontro com a lei, as autoridades locais devem ser acionadas. Após tomar as providências com as autoridades, envie um email, para supporttradez@tradez.com.br, contendo todas as informações para que possamos tomar providências em nossa plataforma.
      </p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
</div>
<div class="jumbotron">
  <h1 class="display-4">Vamos lá?!</h1>
  <p class="lead">Garanto que não irá se arrepender...</p>
  <hr class="my-4">
  <p>Interaja. Dê um Trade. Encontre. É muito fácil de usar o Tradez: clique em “Gostei” se curtir um produto ou em “Não Gostei” se não estiver interessado. Se alguém curtir o seu produto de volta, deu Trade! Utilizamos o processo de dupla confirmação, por isso, o Trade só acontece quando há interesse mútuo. Sem estresse. Sem aquelas perguntas se aceitar algo em troca. É só Clicar, dar um Trade e estará disponível a informação de contato para os seus Trades. Depois, utilize o seu telefone para definir termos e marcar locais para concretizar a troca.
    </p>
  <a class="btn btn-primary btn-lg" [routerLink]="['/likes']" routerLinkActive="active" role="button">Trocar</a>
</div>
<hr>
<h6> Tradez - Francisco Hugo - Jônatas do Vale - Athos Johann </h6>